@import 'fonts';

* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
}

.overlay-wrapper {
  position: relative;
  width: 100%;

  .layout-top-bottom,
  .other-layouts {
    display: none;
  }

  .layout-top-bottom {
    display: flex;
    justify-content: center;
    min-height: 150px;

    .o-gurbani, .o-translation {
      padding: 0;
    }
  }

  .o-gurbani,
  .o-translation {
    white-space: pre-wrap;
  }
}

.gurmukhi {
  font-family: 'Gurbani Akhar';
}

.content-bar {
  left: 0;
  margin: auto;
  padding: 0 3vw;
  position: relative;
  text-align: center;
  width: 100%;

  span.normal-word,
  span.light-word {
    word-break: break-word;
  }

  span.light-word {
    opacity: 0.75;
  }
}

.content-top,
.content-bottom {
  background: rgba(44, 62, 80, 0.9);
  width: 100%;
}

.o-gurbani {
  font-family: 'Noto Sans Bold';
}

.o-teeka {
  font-family: 'Noto Sans';
}

.o-content-slot,
.o-transliteration,
.o-translation {
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.o-content-slot.hindi,
.o-content-slot.devanagari,
.o-translation.hindi,
.o-transliteration.devanagari {
  font-family: 'Noto Sans Devanagari', 'Kohinoor Devanagari', 'ITF Devanagari', 'Nirmala UI',
    'Mangal', 'Devanagari Sangam MN', sans-serif;
  font-synthesis: none;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
}

.o-content-slot.shahmukhi,
.o-transliteration.shahmukhi {
  font-family: 'Noto Nastaliq Urdu', 'Noto Sans Arabic', 'Geeza Pro', 'Segoe UI', 'Arial',
    sans-serif;
  font-synthesis: none;
  font-weight: normal;
  line-height: 1.6;
  text-transform: none;
}

.o-content-slot:empty {
  display: none !important;
  padding: 0 !important;
}

.layout-top {
  .o-gurbani,
  .o-content-slot {
    padding: 0.5% 3vw;
  }

  .logo-wrapper {
    bottom: 2vh;
  }
}

.layout-bottom {
  .overlay-wrapper {
    bottom: 0;
    position: absolute;
  }

  .o-gurbani,
  .o-content-slot {
    padding: 0.5% 3vw;
  }

  .logo-wrapper {
    top: 2vh;
  }
}

.layout-classic {
  .overlay-wrapper {
    background: transparent;
    bottom: 10%;
    left: 5%;
    position: absolute;
    width: 90%;
  }
  .content-bar {
    background: transparent;
    padding: 0;
    width: auto;
  }
  .logo-wrapper {
    top: 2vh;
  }

  .o-gurbani,
  .o-content-slot {
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 5px;

    &:empty {
      display: none;
    }
  }
}

.layout-vertical {
  .overlay-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
  }

  .content-top,
  .content-bottom {
    display: flex;
    flex-direction: column;
    height: 45vh;
    justify-content: space-evenly;
  }

  .logo-wrapper {
    display: block;
    height: 100px;
    position: relative;
    right: 0;
    width: 100%;

    .sttm-logo-white {
      display: block;
      margin: auto;
    }
  }

  .o-content-slot {
    display: block;
  }
}

.layout-vertical-left {
  @extend .layout-vertical;

  .overlay-wrapper {
    left: 0;
  }
}

.layout-split {
  .overlay-wrapper {
    height: 100%;
  }

  .content-bars-bottom {
    bottom: 0;
    padding-right: 16vw;
    position: absolute;
    width: 100vw;
  }

  .content-top {
    padding-top: 3vh;
  }

  .content-bottom {
    position: static;
    padding-bottom: 3vh;
  }

  .o-content-slot {
    display: block;
  }

  .content-bar {
    padding: 0.5% 3vw;
  }

  .logo-wrapper {
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;

    .sttm-logo-white {
      display: block;
      margin: auto;
    }
  }
}

// Viewer-like full screen layout
.layout-fullscreen {
  .overlay-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .other-layouts {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .content-top,
  .content-bottom,
  .content-bars-bottom {
    background: transparent;
    position: static;
    width: 100%;
  }

  .content-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content-bars-bottom {
    padding-right: 0;
  }

  .content-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content-bar {
    padding: 0.75vh 0;
  }

  .o-gurbani {
    display: block;
    line-height: 1.4;
    text-align: center;
  }

  .o-content-slot {
    display: block;
    line-height: 1.4;
    text-align: center;
  }

  .logo-wrapper {
    bottom: 2vh;
    height: auto;
    position: fixed;
    right: 2vh;

    .sttm-logo-white {
      display: block;
      margin: auto;
    }
  }
}

.content-top,
.content-bottom {
  &.never-forget {
    color: #f00;
    .o-content-slot,
    .o-gurbani {
      color: #f00;
    }
  }

  &.khalsa-gold {
    color: #ffba00;

    .o-content-slot,
    .o-gurbani {
      color: #ffba00;
    }
  }

  &.baagi-blue {
    color: #fff;

    .o-content-slot,
    .o-gurbani {
      color: #fff;
    }

    .o-content-slot.o-transliteration {
      color: #a0d5fe;
    }
  }

  &.khalsa-rush {
    color: #071f77;

    .o-content-slot,
    .o-gurbani {
      color: #071f77;
    }
  }

  &.moody-blue {
    color: #fff;

    .o-content-slot,
    .o-gurbani {
      color: #fff;
    }
  }

  &.a-new-day {
    color: #0e2654;

    .o-content-slot.o-translation,
    .o-content-slot.o-teeka {
      color: #003a8c;
    }
    .o-gurbani,
    .o-content-slot.o-transliteration {
      color: #0e2654;
    }
  }

  &.black-and-blue {
    color: #fff;

    .o-gurbani,
    .o-content-slot.o-transliteration {
      color: #fff;
    }

    .o-content-slot.o-teeka,
    .o-content-slot.o-translation {
      color: #a3eafd;
    }
  }

  &.floral {
    color: #460a1e;

    .o-gurbani,
    .o-content-slot.o-transliteration {
      color: #460a1e;
    }

    .o-content-slot.o-teeka,
    .o-content-slot.o-translation {
      color: #821d3e;
    }
  }
}

.logo-wrapper {
  display: inline-flex;
  filter: drop-shadow(1px 1px rgba(0, 0, 0, 1));
  padding: 2vh 2vw;
  position: fixed;
  right: 2vh;

  .sttm-logo-white {
    display: block;
    width: 12vw;
  }
}

.logo-off {
  .content-bars-bottom {
    padding-right: 0;
  }

  .logo-wrapper {
    display: none;
  }
}
